* {
  box-sizing : border-box;
  }
  html, body {
  height : 100%;
  width : 100%;
  margin : 0;
  display : block;
  background : #f6c2c2;
  overflow : hidden;
  }
  .app {
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100vh;
  width : 100%;
  padding : 0;
  font-family : Arial, sans-serif;
  border-radius : 0;
  box-shadow : 0 0 15px rgb(0, 0, 0, 0.2);
  flex-direction : column;
  box-sizing : border-box;
  overflow : hidden;
  }
  
  .login-container {
  background : url("images/benz-l.jpeg") center center no-repeat fixed;
  background-size : cover;
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100vh;
  width : 100%;
  margin : 0;
  padding : 0 20px;
  border-radius : 0 0 15px 15px;
  box-sizing : border-box;
  overflow : hidden;
  }
  
  header {
  background-color : #b00a0a;
  color : #FFFFFF;
  margin : 0;
  width : 110%;
  box-sizing : border-box;
  text-align : center;
  border-radius : 0 0 0 0;
  animation : fadeIn 3s ease-in-out;
  font-family : 'Roboto', Helvetica, Arial, sans-serif;
  position : relative;
  left : 0;
  font-size : 14px;
  letter-spacing : 1px;
  }
  header h1 {
  font-size : 24px;
  margin : 0;
  }
  .chat-header {
  display : flex;
  align-items : center;
  text-align : center;
  justify-content : left;
  background-color : #931616;
  color : white;
  padding : 0 20px;
  height : 80px;
  width : 100%;
  position : fixed;
  top : 0;
  left : 0;
  z-index : 1000;
  letter-spacing : 1px;
  font-size : 14px;
  }
  .chat-header .logo-section img {
  width : 75px;
  height : auto;
  margin-right : 5px;
  margin-left : -10px;
  }
  .chat-header h1 {
    font-size : 24px;
    margin : 0;
    margin-right: 30px;
    
  }
  .chat-header h2 {
    font-size : 12px;
    margin : 0;
    margin-right: 80px;
    font-weight : normal;
  }
  .chat-container {
  margin-top : 80px;
  padding : 20px;
  }
  .login-box {
  display : flex;
  background-color : rgb(255, 255, 255, 0.3);
  border-radius : 10px;
  box-shadow : 0 4px 6px rgb(0, 0, 0, 0.1);
  width : 100%;
  max-width : 500px;
  padding : 20px;
  align-items : center;
  backdrop-filter : blur(10px);
  border : rgb(255, 255, 255, 0.2) solid 1px;
  box-sizing : border-box;
  margin : auto;
  position: relative;
  }

  #errorMessage {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 0;
    right: 0;
    text-align: center; /* Center the text */
    color: red; /* Example styling */
    font-size: 1px; /* Adjust as needed */
}
  .logo-section {
  display : flex;
  justify-content : center;
  align-items : center;
  padding-right : 10px;
  }
  .ua-logo {
  max-width : 150px;
  height : auto;
  margin-left : 5px;
  }
  .form-section {
  flex : 1;
  text-align : left;
  }
  h2 {
  margin-top : 0;
  }
  .input-container {
  display : flex;
  flex-direction : column;
  }
  #login-form input[type="text"], #login-form input[type="password"], #login-form input[type="email"] {
  width : 150%;
  padding : 10px 20px;
  border : #ff0000 solid 1px;
  border-radius : 8px;
  font-size : 15px;
  margin-bottom : 10px;
  margin-left : 0;
  box-sizing : border-box;
  }
  .button-container {
  display : flex;
  flex-direction : column;
  align-items : center;
  gap : 10px;
  width : 100%;
  margin-top : 5px;
  }
  #submit, #cancel {
  background-color : #FF0000;
  color : #FFFFFF;
  padding : 10px 20px;
  border : none;
  border-radius : 8px;
  cursor : pointer;
  font-size : 13px;
  width : 70px;
  text-align : center;
  transition : background-color 0.3s ease, transform 0.2s ease;
  margin-left : 65px;
  justify-content : center;
  align-items : center;
  display : flex;
  }
  #submit:hover {
  background-color : #CC0000;
  transform : scale(1.05);
  }
  #cancel {
  background-color : #888080;
  color : #000;
  }
  #cancel:hover {
  background-color : #575555;
  transform : scale(1.05);
  }
  .chat-container {
  display : flex;
  flex-direction : column;
  height : 100vh;
  width : 100%;
  background : inherit;
  padding : 20px 30px;
  box-sizing : border-box;
  overflow : visible;
  }
  
  .chat-log {
  padding : 10px;
  border : #DDDDDD solid 1px;
  height : calc(100% - 80px);
  max-height : 500px;
  overflow-y : auto;
  border-radius : 10px;
  background-color : #FFF;
  display : flex;
  flex-direction : column;
  align-items : flex-start;
  }
  .chat-message {
  margin-bottom : 10px;
  border-radius : 15px;
  display : inline-block;
  color : inherit;
  overflow-wrap : break-word;
  position : relative;
  width : fit-content;
  max-width : 50%;
  }
  .user-message {
  background-color : #FFD6D6;
  align-self : flex-end;
  text-align : right;
  margin-left : auto;
  margin-right : 0;
  }
  .bot-message {
  background-color : #FFD6D6;
  align-self : flex-start;
  text-align : left;
  margin-right : auto;
  margin-left : 0;
  }
  .chat-message p {
  margin : 0;
  font-size : 16px;
  color : inherit;
  }
  .message-timestamp {
  font-size : 10px;
  display : block;
  color : #999;
  position : absolute;
  bottom : -15px;
  right : 5px;
  }
  
  .user-message .message-timestamp {
  right : 10px;
  }
  .bot-message .message-timestamp {
  left : 10px;
  }
  form {
  margin-top : 20px;
  display : flex;
  width : 100%;
  }

.textarea-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}


form textarea {
  flex-grow: 1;
  padding: 8px 10px;
  border: #DDDDDD solid 1px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  resize: none;
  overflow-wrap: break-word;
  height: 85px;
  line-height: 1.4;
  color: #333;
  padding-right: 60px;
}

form .chat-send-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #931616; 
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}


form .chat-send-button:hover {
  background-color: #6B0000; 
}

form .chat-send-button .send-icon {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid white; 
}

form .chat-send-button .send-icon {
  transform: translateY(-2px); 
}

  #back-btn {
  background-color : #FF0000;
  color : #FFFFFF;
  padding : 10px 20px;
  border : none;
  border-radius : 10px;
  cursor : pointer;
  transition : background-color 0.3s ease;
  margin-bottom : 10px;
  }
  #back-btn:hover {
  background-color : #CC0000;
  }
  footer {
    margin: 0;
    padding: 0;
  }
  
  .menu-sidebar {
  position : fixed;
  top : 60px;
  right : -160px;
  width : 130px;
  height : calc(100% - 60px);
  background-color : #931616;
  color : white;
  transition : right 0.5s ease;
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
  align-items : center;
  z-index : 5;
  padding : 10px;
  }
  .menu-sidebar.open {
  right : 0;
  }
  .menu-button {
  background : none;
  border : none;
  cursor : pointer;
  position : fixed;
  top : 20px;
  right : 10px;
  z-index : 10;
  }
  .menu-button .bar {
  display : block;
  width : 20px;
  height : 2px;
  margin : 4px auto;
  background-color : rgb(255, 255, 255);
  }
  .menu-content {
  flex-grow : 1;
  display : flex;
  flex-direction : column;
  justify-content : flex-start;
  gap : 20px;
  width : 100%;
  }
  .menu-sidebar .logout {
  position : relative;
  bottom : 5px;
  left : 50%;
  transform : translateX(-50%);
  width : 95%;
  padding : 10px 20px;
  background-color : #931616;
  color : white;
  border : none;
  border-radius : 5px;
  cursor : pointer;
  transition : background-color 0.3s ease, transform 0.1s ease;
  font-size : 14px;
  text-align : center;
  margin-top : auto;
  margin-bottom : 5px;
  }
  .menu-sidebar .logout:hover {
  background-color : #db3232;
  transform : scale(1.03) translateX(-50%);
  }
  .menu-sidebar .settings {
  position : absolute;
  top : 30px;
  left : 50%;
  transform : translateX(-50%);
  width : 80%;
  padding : 10px 20px;
  background-color :#931616;
  color : white;
  border : none;
  border-radius : 5px;
  cursor : pointer;
  transition : background-color 0.3s ease, transform 0.1s ease;
  font-size : 14px;
  text-align : center;
  }
  .menu-sidebar .settings:hover {
  background-color : #db3232;
  transform : scale(1.03) translateX(-50%);
  }
  @media screen and (min-width: 600px) and (max-width: 1080px) {
    #menuButton {
    top : 10px;
    bottom:auto;
    margin-right : 23px;
    font-size : 1px;
    }
    
    .menu-sidebar {
    width : 100px;
    }
    
    }
    #chatPage #menuButton, #chatPage .menu-sidebar {
    display : block;
    }
    #loginPage #menuButton, #loginPage .menu-sidebar {
    display : none;
    }
    @media screen and (max-width: 770px) {
    .login-container {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    height : 100vh;
    padding : 15px 15px 25px 15px;
    box-sizing : border-box;
    }
    .login-box {
    width : 100%;
    max-width : 350px;
    padding : 5px;
    margin : 0 auto;
    box-sizing : border-box;
    max-height : 70%;
    overflow-y : auto;
    text-align : center;
    }
    #login-form input[type="text"], #login-form input[type="password"], #login-form input[type="email"] {
    width : 195%;
    padding : 10px 15px;
    font-size : 14px;
    margin-bottom : 15px;
    border-radius : 5px;
    border : #ccc solid 1px;
    margin-left: 40;
    }
    #submit {
    padding : 10px 30px;
    font-size : 11px;
    width : 40%;
    margin-left : 1;
    margin-bottom : 10px;
    border-radius : 8px;
    border : none;
    background-color : #FF0000;
    color : white;
    cursor : pointer;
    }
    #cancel {
    padding : 10px 30px;
    font-size : 11px;
    width : 40%;
    margin-left : 1;
    margin-right : 1;
    margin-bottom : 10px;
    border-radius : 8px;
    border : none;
    background-color : #b3b3b3;
    color : black;
    cursor : pointer;
    }
    #submit:hover, #cancel:hover {
    transform : scale(1.05);
    }
    .ua-logo {
    max-width : 140%;
    max-height : 90px;
    margin-bottom : 5px;
    }
  header {
      font-family: 'Roboto Condensed', Arial, sans-serif; 
      font-size: 0.5px;
      padding: 100px 1000px 1000px 1000px;
      margin-right: 100px;
      line-height: 25px;
  }
  
  header h2 {
      font-family: 'Roboto Condensed', Arial, sans-serif;
      font-size: 0.1px;
      line-height: 20px;
      margin-right: 100px;
      padding: 1px;
  }
  
    .button-container {
    gap : 0;
    margin-top : 8px;
    }
    }
    .chat-container {
    overflow-y : auto;
    display : flex;
    flex-direction : column;
    justify-content : space-between;
    padding : 10px;
    }
    .chat-log {
    max-height : calc(75vh - 50px);
    overflow-y : auto;
    padding-bottom : 60px;
    }
    .chat-message {
    max-width : 80%;
    margin-bottom : 15px;
    padding : 12px;
    border-radius : 8px;
    background-color : #f1f1f1;
    }
  
    @media screen and (min-width: 600px) and (max-width: 900px) {
    .login-box {
    width : 70%;
    max-width : 400px;
    }
    #submit, #cancel {
    font-size : 16px;
    width : 70%;
    }
    }